.header {
    background: rgba(15, 15, 15, 0.4);
    backdrop-filter: blur(18px);
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    .container {
        padding-top: 25px;
        padding-bottom: 25px;
        opacity: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .menu-actions {
            display: flex;
            align-items: center;

            .menu {
                display: flex;
                align-items: center;

                .menu-items {
                    display: flex;
                    align-items: center;

                    .menu-item a {
                            font-family: "Agrandir-bold", sans-serif;
                            font-size: var(--fs-text-3);
                            color: var(--color-text-primary);
                            margin-right: 24px;
                        }

                }
            }
        }

        .burger-menu {
            display: none;
            flex-direction: column;
            position: relative;
            z-index: 100;
            width: 40px;
            height: 40px;
            justify-content: center;
            align-items: center;

            span {
                position: relative;
                display: inline-block;
                height: 2px;
                width: 20px;
                background-color: white;
                transition: all .3s;
                pointer-events: none;

                &:nth-child(1), &:nth-child(2) {
                    margin-bottom: 6px;
                }
            }

            &.active {
                position: fixed;
                top: 26px;
                right: 16px;

                span:nth-child(1) {
                    top: 4%;
                    transform: rotate(45deg);
                    margin-bottom: 0;
                }

                span:nth-child(2) {
                    display: none;
                }

                span:nth-child(3) {
                    transform: rotate(-45deg);
                    margin-bottom: 0;
                }
            }
        }
    }
}

.hero {
    background: #110F0F;
    position: relative;

    .container {
        padding-top: 191px;
        padding-bottom: 211px;
        display: flex;
        align-items: center;
        flex-direction: column;

        .hero-content {
            max-width: 650px;

            h1 {
                font-family: "Agrandir-bold", sans-serif;
                color: var(--color-text-primary);
                line-height: 50px;
                font-size: var(--fs-header-4);

                span {
                    line-height: 50px;
                    font-size: var(--fs-header-4);
                    display: block;
                    background: linear-gradient(90deg, #9DE8EE 0%, #FA7C0B 49%, #9F8CED 100%);
                    -webkit-background-clip: text;
                    background-clip: text;
                    color: transparent;
                }
            }

            .hero-content-text {
                max-width: 650px;
                font-family: "Agrandir-regular", sans-serif;
                color: var(--color-text-secondary);
                margin: 16px 0 32px 0;
            }

            .hero-actions {
                max-width: 650px;
                display: flex;
                align-self: flex-start;

                .base-input {
                    color: var(--color-text-primary);
                    background: transparent;
                    margin-right: 16px;

                    &::placeholder {
                        color: var(--color-text-primary);
                    }
                }
            }
        }
    }

    .bg-img {
        position: absolute;

        &.left-bottom {
            bottom: 0;
            left: 0;
        }

        &.right-top {
            right: 0;
            top: 0;
        }
    }

    .grid {
        position: absolute;
        top: 0;
        left: 0;
        inset: 0;
        pointer-events: none;
        z-index: 2;

        --cell: 70px;
        --line: 1px;
        --grid-alpha: 0.1;

        background: linear-gradient(to left, rgba(255, 255, 255, var(--grid-alpha)) var(--line), transparent var(--line)),
        linear-gradient(to bottom, rgba(255, 255, 255, var(--grid-alpha)) var(--line), transparent var(--line));
        background-size: var(--cell) var(--cell);

        mask-image: linear-gradient(to bottom left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
        mask-size: 100% 100%;
        mask-repeat: no-repeat;
    }
}

@media screen and (max-width: 800px) {
    .header .container {
        .menu {
            z-index: 100;
            position: fixed;
            width: 100%;
            height: 100vh;
            margin: 0;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.8);
            opacity: 0;
            justify-content: center;
            pointer-events: none;

            &.active {
                opacity: 1;
                pointer-events: unset;

                .menu-items {
                    flex-direction: column;

                    .menu-item {
                        margin: 40px 12px;

                        .menu-item-link {
                            margin: 20px 0;
                            font-size: 25px;
                        }
                    }
                }
            }

            .menu-items {

                .menu-item {

                    a {
                        margin: 0;
                    }
                }
            }
        }

        .transparent-btn {
            display: none;
        }

        .burger-menu {
            display: flex;
        }
    }
}

@media screen and (max-width: 724px) {
    .hero {
        .container .hero-content {
            h1, .h1-span {
                line-height: 40px;
                font-size: var(--fs-header-3);
            }
        }

        .left-bottom, .right-bottom {
            width: 80%;
        }
    }
}

@media screen and (max-width: 600px) {
    .hero .container .hero-content {
        h1 {
            max-width: 500px;
        }

        .hero-content-text {
            max-width: 380px;
        }

        .hero-actions {
            flex-direction: column;

            .base-input {
                width: 70%;
                margin-bottom: 30px;
            }

            .btn {
                width: 70%;
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .hero .container .hero-content {
        h1, .h1-span {
            font-size: 30px;
            line-height: 30px;
        }

        .hero-actions {
            .base-input, .btn {
                width: 90%;
            }
        }
    }
}